@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}




header {
    position: fixed;
    width: 100%;
    background-color: #a5ff80;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 70px;
    justify-content: center;
    box-shadow:0 2px 10px lightgray;
}





.items {
    width: 100%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}


.item {
    display: flex;
    text-align: center;
    cursor: pointer;
    flex-direction: column;
    /* max-width: 45%;   */
    font-size: 18px;
    max-height: fit-content;
    border-radius: 10px;
    padding:5px;
}




.item p {
    margin-top: 10px;
}

.item img {
    width: 100px;
    border-radius: 10px;
}


.matter{
    font-family:'Lora', Times, serif;
    padding:10px;
    font-size: 14px;
}



strike{
    font-size: 10px;
}



.qty{
    display: flex;
    font-size: 12px;
    justify-content: space-between;
}

.qty div{
    background-color:#a5ff80;
    width:40px;
    padding:3px 5px;
    border-radius: 5px;
    margin:5px 0;
    text-align: center;
}


.click{
    background-color: green;
    color:#fff;
}


.heading {
    width: 100%;
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 30px;
}


.total {
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    justify-content: space-around;
}


.prices {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.prices div {
    width: 80px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.add {
    cursor: pointer;
    background-color:green;
    color:#fff;
    font-size: 20px;
    max-width: fit-content;
    padding: 6px;
    border: 1px solid rgb(63, 172, 63);
    border-radius: 7px;
}


.labels {
    flex-direction: column;
}



/* ________________________________________CART_______________________________________ */



.cart {
    background-color: green;
    padding: 5px;
    border-radius: 7px;
    width: 60px;
    position: absolute;
    right: 10;
    align-items: center;
    color:#fff;
    justify-content: space-around;
    cursor: pointer;
}

.cart i {
    font-size: 24px;

}



.page-loader {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  z-index: 9999;
  transition: opacity 0.5s ease;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 5px solid #eee;
  border-top: 5px solid #2ecc71;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
