* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}




header {
    position: fixed;
    width: 100%;
    background-color: #a5ff80;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 70px;
    justify-content: center;
    box-shadow:0 2px 10px lightgray;
}





.items {
    width: 100%;
    margin: 0px auto;
    display: flex;
    /* align-items: center; */
    flex-wrap: wrap;
    justify-content: space-around;
}


.item {
    display: flex;
    text-align: center;
    cursor: pointer;
    flex-direction: column;
    max-width: 45%;
    font-size: 18px;
    border-radius: 10px;
    padding:5px;
}


.item p {
    margin-top: 10px;
}

.item img {
    width: 100px;
    border-radius: 10px;
}


.heading {
    width: 100%;
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 30px;
}


.total {
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    justify-content: space-around;
}


.prices {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.prices div {
    width: 80px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.add {
    cursor: pointer;
    background-color: rgba(144, 238, 144, 0.68);
    max-width: fit-content;
    padding: 8px;
    border: 1px solid rgb(63, 172, 63);
    border-radius: 7px;
}


.labels {
    flex-direction: column;
}



/* ________________________________________CART_______________________________________ */



.cart {
    background-color: green;
    padding: 5px;
    border-radius: 7px;
    width: 60px;
    position: absolute;
    right: 10;
    align-items: center;
    color:#fff;
    justify-content: space-around;
    cursor: pointer;
}

.cart i {
    font-size: 24px;

}
